@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200&display=swap');



$fontfamily: 'Poppins', sans-serif; ;
$widht: 50px;
$height:50px;
$logo: 250px;
$color-titulo:black;
$radius:40%;

*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive; 
}


/*div trasnparencia*/
.principal{
    min-height: 100vh;
   background: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)), 
    url(../imagenes/cantera.jpg) no-repeat center center fixed ;
   background-size: cover;
}
/*nav*/
.logo__nav{
    height: 50px;
    width: 50px;
    border-radius: 90%;

}


/*portada*/
.logo__portada{
    height: 250px;
    width: 250px;
    border-radius: 90%;
    box-shadow: 0px 10px 10px 0px;
    
    
}

.cover{
    width: 100%;
    
    
    
    
}
.container__cover{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 700px;
   
   

}

.container__info{
    max-width: 400px;
    margin-top: 40px ;
    z-index: 2;
    margin-top: 150px;
}

.cover h1{
    max-width: 400px;
    font-size: 60px;
    font-weight: 900;
    color: rgb(99, 98, 98);
    
    
}
.cover h2{
    font-size: 60px;
    font-weight: 900;
    color: rgb(128, 87, 54);
    margin-top: -30px;

}
.cover p{
    margin-top: 10px;
    font-weight: 500;
    font-weight: 800;
    color: rgb(99, 99, 99);
   


}

.container__img{
    margin-top: 150px;
    

}
.container__img img{
    
    bottom: 10px;
    right: 0px;
    width: 250px;
    border-radius: 90%;
    animation: move_img 6s ease-in-out infinite  ;
    box-shadow: 0px 15px 20px;
}

@keyframes move_img {
    0%{
        transform: translate(10px);
    
    }
    25%{
        transform: translate(-10px);
    
    }
    100%{
        transform: translate(10px);
    
    }

}
/*materiales*/
.container__Materiales_padre{
   
    background: rgb(178,178,178);
    background: linear-gradient(0deg, rgba(178,178,178,0) 0%, rgba(204,204,204,0.5049370089832808) 35%, rgba(73, 72, 72, 0.505) 100%);
    border-radius: 10%;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    text-align: center;
    gap: 15px;
    color: aliceblue;

    .div_hijo{
        margin: 60px;
    }
    
    
    .imgmateriales{
        margin-top: 30px;
        height: $height *4;
        width: $widht *4;
        transition: 2s;
        border-radius: $radius;
       
        
    }
    & .imgmateriales:hover{
        height: $height *6;
        width: $widht *6;
        border-radius: $radius;
        box-shadow: 0px 15px 20px ;
        transition: 2s;
    }
   

}
.div-titulos{
    text-align: center;
    padding: 20px;
    color: aliceblue;
    background-color: rgb(37, 37, 37);
    margin-top: 20px;

    .h2__titulo{
        font-weight: 200;
        font-size: 50px;
        font-family: fantasy;
       
    }
    
}
/*contacto*/
.asesoramiento{
    text-align: center;
    color: aliceblue;
    background-color: rgb(37, 37, 37);
    height: 150px;
    padding-top: 50px;
    

    .h4__asesoramiento{
        
        font-size: 30px;
        padding-bottom: 10px;
    }
    .btn__llamar{
        color: rgb(10, 10, 10);
        background-color: rgb(255, 255, 255);
        padding: 5px;
        
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: none;
        padding: 8px;
        
        
    
    }
    .btn__llamar:hover{
        color: rgb(255, 255, 255);
        border: 2px solid rgb(255, 255, 255) ;
        background-color: rgb(37, 37, 37);
        
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: none;
    }
    
}
.section__container{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 15px;
    height:600px;
    background: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)), 
    url(../imagenes/cantera2.jpg) no-repeat center center fixed ;
    background-size: cover;
     

    .h2__section_maps{
    height: 300px;
    width: 350px;
    color: aliceblue;
    
    text-align: left;
    padding: 50px;
    font-family: fantasy;
    }
    iframe{
        padding: 10px;
        margin-top: 15px;
        border-radius: 10%;
    }

}
/*footer*/
footer{
    
    width: 100%;
    padding: 15px 0px;
    background-color: #3d3d3d;
   

}
.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 10px;

}
.box__footer{
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-decoration: none;
    

}
.logoimgfooter{
    width: 100px;
    height: 100px;
    border-radius: 90%;

}
.footer__terminos{
    max-width: 350px;
    margin-top: 10px;
    font-weight: 500;
    color: #202020;
    font-size: 18px;
}
.box__footer h3{
    margin-bottom: 15px;
    color: #202020;
    font-weight: 700;

} 
.box__footer a{
    margin-top: 10px;
    color: #202020;
    font-weight: 600;
    margin: 10px;
    padding: 5px;
}
.box__footer a:hover{
    opacity: 0.8;
}

/*config para logos de redes sociales*/
$red-social:(
  instagram: pink,
  facebook: blue,
  whatsapp: green,

);
@each $nombre ,$valor in $red-social{
 .icon-#{$nombre}{
     background-color: $valor;
      height: 30px;
      width: 30px;
      border-radius: 90%;
 }

}

/*media mobile*/
@media screen  and (max-width: 767px )
{
    .container__img{
        transform: scale(0);
        animation: none;
    }
    .div-titulos {
        background-color: #202020;
        height: 70px;
        padding: 20px;
        color: #c5c5c5;
        text-align: center;
        font-family: $fontfamily;
      }
      

    .container__Materiales_padre{

        height: 100%; 
        display: grid;
        grid-template-columns: 1fr ;
        justify-items: center;
        text-align: center;
        gap: 15px;
        color: #c5c5c5;
    
    .div_hijo{
        margin: 60px;
    }
       
    
    
        & .imgmateriales{
            
            height: $height *4;
            width: $widht *4;
            transition: 2s;
            
            border-radius: $radius;
           
            
        }
        & .imgmateriales:hover{
            height: $height *6;
            width: $widht *6;
            border-radius: $radius;
            box-shadow: 0px 15px 20px ;
            transition: 2s;
        }
    
    }

    iframe{
        height: 250px;
        width: 300px;
    }
 
    
}
/*media tablet*/
@media screen  and (min-width: 768px ) and (max-width: 1276px)
{
    .container__img{
        transform: scale(0);
        animation: none;
    }
    .div-titulos {
        background-color: #202020;
        height: 70px;
        padding: 20px;
        color: #c5c5c5;
        text-align: center;
        font-family: $fontfamily;
      }
      

    .container__Materiales_padre{

       height: 100%; 
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    justify-items: center;
    text-align: center;
    gap: 15px;
    
    
    
    
    color: #c5c5c5;
    
    .div_hijo{
        margin: 60px;
    }
       
    
    
        & .imgmateriales{
            
            height: $height *4;
            width: $widht *4;
            transition: 2s;
            
            border-radius: $radius;
           
            
        }
        & .imgmateriales:hover{
            height: $height *6;
            width: $widht *6;
            border-radius: $radius;
            box-shadow: 0px 15px 20px ;
            transition: 2s;
        }
    
    }

        iframe{
            height: 350px;
            width: 400px;
    }
 
    
}
























